name : Deploy the web 
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code 
              uses: actions/checkout@v3
            
            - name: Docker login
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Build and push the image into dockerhub
              uses: docker/build-push-action@v5
              with:
                context: .
                file: ./docker/dockerFile.web
                build-args:
                    - DATABASE_URL=${{ secrets.DATABASE_URL }}
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}



            